.header__logo {
  padding-bottom: 41px;
}

@media screen and (max-width: 899px) {
  .header__logo {
  padding-bottom: 31.6px;
  margin-left: 27px;
  }
}

@media screen and (max-width: 599px) {
  .header__logo {
  width: 103.74px;
  height: 24.4px;
  }
}
