.element__icon {
  align-self: start;
  background-repeat: no-repeat;
  background-image: url(../../../images/heart-icon-white.png);
  background-color: transparent;
  border: none;
  height: 19px;
  margin-bottom: 3px;
  width: 22px;
  }
  .element__icon:hover {
    cursor: pointer;
    opacity: 0.5;
  }




