.header {
  max-width: 880px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-top: 41px;
}

@media screen and (max-width: 899px) {
  .header {
    margin: 28px auto 42px;
  }
}
